<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new song</title>
</head>
<body>
<h1>Create new song</h1>

<p>
    <a th:href="@{/admin/list}">Home</a>
</p>
<br>

<form th:action="@{/admin/create}" th:object="${song}" method="post" th:novalidate="novalidate">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" th:field="*{name}">
    </div>
    <div>
        <label for="artist">Artist: </label>
        <input type="text" id="artist" th:field="*{artist}">
    </div>
    <div>
        <label for="description">description: </label>
        <input type="text" id="description" th:field="*{description}">
    </div>
    <div>
        <label for="linkSong">linkSong: </label>
        <input type="text" id="linkSong" th:field="*{linkSong}">
    </div>
    <input type="submit" value="Save"/>
</form>
</body>
</html>